#https://clang.llvm.org/extra/clang-tidy/#id2
Checks: |
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  clang-analyzer-*,
  clang-diagnostic-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-avoid-c-style-cast,
  -modernize-macro-to-enum,
  -modernize-use-trailing-return-type,
  -modernize-avoid-variadic-functions,
  -modernize-redundant-void-arg,
  -modernize-use-using,
  performance-*,
  -performance-no-int-to-ptr,
  